<div id="sidebar-wrapper">
    <h1 href="{{ url_for('index') }}">GiftSmarts</h1>
    <img src="https://graph.facebook.com/{{user.id}}/picture?type=large" class="img-circle"/>
    <h2>{{ user.name }}</h2>
    <p><a href="{{ url_for('get_facebook_friends_data') }}" class="btn btn-info btn-sm" id="menu-toggle">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Refresh my friends list</a></p>
    <p><a class="btn btn-success" id="logout">Log out</a></p>
    <div>
    {% for friend in user.to_friends %}
    <a href="">
        <img src="https://graph.facebook.com/{{friend['id']}}/picture?type=small"
             style="margin: 5px; border: 1px solid #545454;" class="img-circle"/>
    </a>
    {% endfor %}
</div>
</div>