{% extends "base.html" %}
{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="overflow: scroll;">
        <h1 href="{{ url_for('index') }}">GiftSmarts</h1>
        <img src="https://graph.facebook.com/{{user.id}}/picture?type=large" class="img-circle"/>
        <h2>{{ user['name'] }}</h2>
        <p><a href="{{ url_for('get_facebook_friends_data') }}" class="btn btn-info btn-sm" id="menu-toggle">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Refresh my friends list</a></p>
        <p><a href="user_feedback" class="btn btn-default">Contact Us</a></p>
        <p><a class="btn btn-success" id="logout">Log out</a></p>

        <div>
            {% for friend in user.to_friends %}
                <a href="{{ url_for('friend_profile_page', friend_id=friend.id) }}">
                    <img src="https://graph.facebook.com/{{friend['id']}}/picture?type=small" style="margin: 5px; border: 1px solid #545454;" class="img-circle"/>
                </a>
            {% endfor %}
        </div>

    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                 <h2>Contact us</h2>
                    <form action="{{ url_for('user_feedback') }}" method=post>
                    {{ form.hidden_tag() }}

                    {{ form.subject.label }}
                    {{ form.subject }}

                    {{ form.message.label }}
                    {{ form.message }}

                    {{ form.submit }}
                </form>


            </div>

        </div>
        <!-- /#wrapper -->
    </div>


    <div class="center">

        <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) {
                console.log(response);
                window.location.href = "/logout";
            });
        };

        </script>
    </div>
</div>
    {% endblock %}