{% extends "base.html" %}
{% block content %}

    {% include 'leftBar.html' %}

    <div id="page-content-wrapper">


        <div class="container-fluid">
            <div class="row">
                <h2>Contact us</h2>

                {% if success %}
                    <p>Thank you for your message. We'll get back to you shortly.</p>

                {% else %}
                    <form action="{{ url_for('user_feedback') }}" method=post>
                        {{ form.hidden_tag() }}

                        {{ form.subject.label }}
                        {{ form.subject }}

                        {{ form.message.label }}
                        {{ form.message }}

                        {{ form.submit }}
                    </form>
                {% endif %}

            </div>

        </div>
        <!-- /#wrapper -->
    </div>


    <div class="center">

        <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) {
                console.log(response);
                window.location.href = "/logout";
            });
        };

        </script>
    </div>
</div>
    {% endblock %}