{% extends "base.html" %}
{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="overflow: scroll;">
        <h1 href="{{ url_for('index') }}">GiftSmarts</h1>
        <img src="https://graph.facebook.com/{{user.id}}/picture?type=large" class="img-circle"/>
        <h2>{{ user['name'] }}</h2>
        <p><a href="{{ url_for('get_facebook_friends_data') }}" class="btn btn-info btn-sm" id="menu-toggle">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Refresh my friends list</a></p>
        <p><a href="user_feedback" class="btn btn-default">Contact Us</a></p>
        <p><a class="btn btn-success" id="logout">Log out</a></p>

        <div>
            {% for friend in user.to_friends %}
                <a href="{{ url_for('friend_profile_page', friend_id=friend.id) }}">
                    <img src="https://graph.facebook.com/{{friend['id']}}/picture?type=small" style="margin: 5px; border: 1px solid #545454;" class="img-circle"/>
                </a>
            {% endfor %}
        </div>

    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>Contact Us</h2>
                <form class="form-horizontal">
                <fieldset>

                <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Subject</label>
                        <div class="col-md-4">
                            <input id="textinput" name="subject" class="form-control input-md" type="text">
                        </div>
                    </div>

                <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textarea">Your message</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="textarea" name="textarea">Type your message here</textarea>
                        </div>
                    </div>

                <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filebutton">Add a file</label>
                        <div class="col-md-4">
                            <input id="filebutton" name="filebutton" class="input-file" type="file">
                        </div>
                    </div>

                <!-- Checkbox -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label for="checkboxes-0">
                                    <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                                    I have read and agree to the Privacy Policy
                                </label>
                            </div>
                        </div>
                    </div>

                <!-- Button (Double) -->
                    <div class="form-group">
                        <div class="col-md-8">
                            <button id="submitbtn" name="submitbtn" class="btn btn-default">Submit</button>
                            <button id="resetbtn" name="resetbtn" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </fieldset>
                </form>


            </div>

        </div>
        <!-- /#wrapper -->
    </div>


    <div class="center">

        <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) {
                console.log(response);
                window.location.href = "/logout";
            });
        };

        </script>
    </div>
</div>
    {% endblock %}